/* 诗的标题 */
h3 {
	margin-top: 30px;
	margin-bottom: 20px;
}

/* 诗的简介 */
p.intro {
	font-family: "DK-SONGTI";
}

/* 诗的序文 */
p.prologue {
	font-family: "DK-XIAOBIAOSONG";
}

/* 诗的正文 */
p.content {
	font-family: "DK-KAITI";
	margin-top: 15px;
	margin-bottom: 15px;
}

