/* 序标题或卷标题 */
h2{
	font-style: italic;
	font-size: 150%;
}

/* 序标题 */
h2.preface_title {
	text-align: left;
	padding-left: 10px;
	border-left: thick solid #ff0000;
}

/* 卷标题 */
h2.chapter_title {
	text-align: right;
	margin-top: 150px;
	border-bottom: thick solid #ff0000;
}

/* 诗的标题 */
h3 {
	text-align: center;
	font-size: 150%;
	margin-bottom: 20px;
}

/* 组诗的小标题 */
h4 {
	text-align: center;
	margin-top: 20px;
}

/* 序的内容 */
p.preface-content {
	font-family: "DK-SONGTI";
}

/* 序的作者 */
p.preface-author {
	text-align: right;
	font-family: "DK-KAITI";
}

/* 诗的简介 */
p.intro {
	font-family: "DK-SONGTI";
}

/* 诗的序文 */
p.prologue {
	font-family: "DK-XIAOBIAOSONG";
}

/* 诗的正文 */
p.content {
	font-family: "DK-KAITI";
	margin-top: 15px;
	margin-bottom: 15px;
}

